nodered/nodered-flows/Room-selection-UI.json
[
    {
        "id": "c4e5c2ecfe2a7d7c",
        "type": "subflow",
        "name": "Get Room",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 200,
                "wires": [
                    {
                        "id": "2f90ac2e6758dcb9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1120,
                "y": 200,
                "wires": [
                    {
                        "id": "aa6109e4a5c0be32",
                        "port": 0
                    },
                    {
                        "id": "5e515066c83f5d87",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "2f90ac2e6758dcb9",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Create query",
        "func": "msg.queryParameters = { \n    sensor_id: msg.payload\n}\n\nmsg.query = \"SELECT * FROM sensors WHERE sensor_id = $sensor_id \"\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "42501e96d518dccc"
            ]
        ]
    },
    {
        "id": "aa6109e4a5c0be32",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Get object from array",
        "func": "msg.payload = msg.payload[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b50f2f9f75d72f28",
        "type": "switch",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Empty check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "aa6109e4a5c0be32"
            ],
            [
                "5e515066c83f5d87"
            ]
        ]
    },
    {
        "id": "5e515066c83f5d87",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Create empty object",
        "func": "\nmsg.payload = {\n    sensor_id: msg.sensor_id,\n    room: \"Not specified\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "42501e96d518dccc",
        "type": "postgresql",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "",
        "query": "",
        "postgreSQLConfig": "b6d5c0074129b3d4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "b50f2f9f75d72f28"
            ]
        ]
    },
    {
        "id": "98df4c30829c6402",
        "type": "subflow",
        "name": "Get all sensor_ids",
        "info": "Gets all sensor_id values from InfluxDB",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "55da7c31a0954239"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 280,
                "wires": [
                    {
                        "id": "63c954b73f480d60",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b979f2c4032b3704",
        "type": "split",
        "z": "98df4c30829c6402",
        "name": "Split values",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "payload",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "04c3fbb9e8fdb252"
            ]
        ]
    },
    {
        "id": "04c3fbb9e8fdb252",
        "type": "change",
        "z": "98df4c30829c6402",
        "name": "Get sensor_id",
        "rules": [
            {
                "t": "move",
                "p": "payload.sensor_id",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "63c954b73f480d60"
            ]
        ]
    },
    {
        "id": "63c954b73f480d60",
        "type": "join",
        "z": "98df4c30829c6402",
        "name": "Join in array",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "01a62efd963d73c9",
        "type": "comment",
        "z": "98df4c30829c6402",
        "name": "Gets all sensor_id values from InfluxDB",
        "info": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "55da7c31a0954239",
        "type": "postgresql",
        "z": "98df4c30829c6402",
        "name": "",
        "query": "SELECT DISTINCT sensor_id FROM sensor_measurements \nWHERE room != 'Outdoors' OR room IS NULL;",
        "postgreSQLConfig": "b6d5c0074129b3d4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "b979f2c4032b3704"
            ]
        ]
    },
    {
        "id": "b6d5c0074129b3d4",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "timescaledb",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "example",
        "passwordFieldType": "str"
    },
    {
        "id": "abcbbe81376760db",
        "type": "tab",
        "label": "Room selection UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d21a86ecb38f6c0",
        "type": "ui_dropdown",
        "z": "abcbbe81376760db",
        "name": "Choose sensor_id",
        "label": "",
        "tooltip": "",
        "place": "Select a sensor_id",
        "group": "d8aece7e220cdf0e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "c9aafd3f212e8e2a",
                "b1847f677738ea9c"
            ]
        ]
    },
    {
        "id": "4c70d5405294bd49",
        "type": "subflow:98df4c30829c6402",
        "z": "abcbbe81376760db",
        "name": "",
        "env": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "eb1b895e6a4e47b4",
                "a2d0f585d960bf09"
            ]
        ]
    },
    {
        "id": "a2d0f585d960bf09",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "fbbe2da644ed9939",
        "type": "ui_ui_control",
        "z": "abcbbe81376760db",
        "name": "Reset web UI",
        "events": "connect",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "4c70d5405294bd49",
                "92d5f099273b2155",
                "957cd4579c8a4e95"
            ]
        ]
    },
    {
        "id": "5bfd86873d4e1b17",
        "type": "ui_text",
        "z": "abcbbe81376760db",
        "group": "d8aece7e220cdf0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Show current room",
        "label": "Current room of sensor:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "5680a189a68fb36c",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 200,
        "wires": []
    },
    {
        "id": "b0db298bdc56c80c",
        "type": "link in",
        "z": "abcbbe81376760db",
        "name": "",
        "links": [
            "a986ee886b8cdeb3"
        ],
        "x": 65,
        "y": 680,
        "wires": [
            [
                "33b2f583cc7274df",
                "90e782b358cbc58a",
                "6596de9d82e63d9d",
                "be3caf10bde2f1d8"
            ]
        ]
    },
    {
        "id": "40005c2dfeb4d635",
        "type": "ui_form",
        "z": "abcbbe81376760db",
        "name": "Update room",
        "label": "",
        "group": "d8aece7e220cdf0e",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Room",
                "value": "room",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "room": ""
        },
        "payload": "",
        "submit": "Save",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "adbbc86fe33c1ae9",
                "9627fd9365e8311b",
                "fed7b519eda96c93"
            ]
        ]
    },
    {
        "id": "33b2f583cc7274df",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "Print sensor_id and room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 560,
        "wires": []
    },
    {
        "id": "5e85f38e385f6511",
        "type": "change",
        "z": "abcbbe81376760db",
        "name": "Move sensor_id val to flow",
        "rules": [
            {
                "t": "set",
                "p": "sensor_id",
                "pt": "flow",
                "to": "queryParameters.sensor_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 240,
        "wires": [
            [
                "a986ee886b8cdeb3"
            ]
        ]
    },
    {
        "id": "a986ee886b8cdeb3",
        "type": "link out",
        "z": "abcbbe81376760db",
        "name": "Output room val",
        "mode": "link",
        "links": [
            "b0db298bdc56c80c"
        ],
        "x": 1465,
        "y": 240,
        "wires": []
    },
    {
        "id": "d2bb9f0b9a3dedb1",
        "type": "change",
        "z": "abcbbe81376760db",
        "name": "Reset room val",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "None",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 740,
        "wires": [
            [
                "5bfd86873d4e1b17"
            ]
        ]
    },
    {
        "id": "23b3b3b4f7d6613d",
        "type": "link out",
        "z": "abcbbe81376760db",
        "name": "RESET INPUT",
        "mode": "link",
        "links": [
            "798686e05470ab84",
            "2cc695e8368b3ec8"
        ],
        "x": 565,
        "y": 420,
        "wires": []
    },
    {
        "id": "798686e05470ab84",
        "type": "link in",
        "z": "abcbbe81376760db",
        "name": "Reset link 2",
        "links": [
            "23b3b3b4f7d6613d"
        ],
        "x": 715,
        "y": 740,
        "wires": [
            [
                "d2bb9f0b9a3dedb1"
            ]
        ]
    },
    {
        "id": "9627fd9365e8311b",
        "type": "function",
        "z": "abcbbe81376760db",
        "name": "Update room label",
        "func": "room = msg.payload.room\nif (room != \"Room not yet set\" && !room.includes(\"-\")) {\n    \n    return msg;\n}\nelse if(room.includes(\"-\")){\n    msg.payload = \"Room name cant include -\"\n    return msg;\n}\nelse{\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 600,
        "wires": [
            [
                "5bfd86873d4e1b17",
                "77e6620d5b1454a8",
                "a2fb98afc6c338b7"
            ]
        ]
    },
    {
        "id": "adbbc86fe33c1ae9",
        "type": "function",
        "z": "abcbbe81376760db",
        "name": "Handle DB room update",
        "func": "sensor_id = flow.get('sensor_id')\nroom = msg.payload.room\nif (room != \"Room not yet set\" && !room.includes(\"-\")) {\n    msg.queryParameters = { \n        sensor_id: sensor_id,\n        room: room\n    }\n    \n    msg.query = `INSERT INTO sensors (sensor_id, room) \n    VALUES ($sensor_id, $room);`\n    \n    return msg;\n}\nelse{\n    msg.payload = \"failed\"\n    return msg;\n}\n\n\n    ",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 540,
        "wires": [
            [
                "aa9c932034100adb",
                "98daa093b08c8f89"
            ]
        ]
    },
    {
        "id": "7c51acc01546c98e",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 540,
        "wires": []
    },
    {
        "id": "c9aafd3f212e8e2a",
        "type": "subflow:c4e5c2ecfe2a7d7c",
        "z": "abcbbe81376760db",
        "name": "",
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "5e85f38e385f6511",
                "5680a189a68fb36c"
            ]
        ]
    },
    {
        "id": "a2fb98afc6c338b7",
        "type": "ui_text",
        "z": "abcbbe81376760db",
        "group": "d8aece7e220cdf0e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Output label",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1300,
        "y": 600,
        "wires": []
    },
    {
        "id": "2cc695e8368b3ec8",
        "type": "link in",
        "z": "abcbbe81376760db",
        "name": "",
        "links": [
            "23b3b3b4f7d6613d",
            "ac78c5f7cdf22fbe",
            "85b54c58614f8b94"
        ],
        "x": 1185,
        "y": 640,
        "wires": [
            [
                "a2fb98afc6c338b7"
            ]
        ]
    },
    {
        "id": "0ef91984d65b4640",
        "type": "ui_button",
        "z": "abcbbe81376760db",
        "name": "Reset button",
        "group": "d8aece7e220cdf0e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reload_sensor_ids",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "4c70d5405294bd49",
                "92d5f099273b2155",
                "957cd4579c8a4e95"
            ]
        ]
    },
    {
        "id": "92d5f099273b2155",
        "type": "change",
        "z": "abcbbe81376760db",
        "name": "Update output label",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UI Reset complete",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "23b3b3b4f7d6613d"
            ]
        ]
    },
    {
        "id": "2c85d54f4f8098c8",
        "type": "ui_button",
        "z": "abcbbe81376760db",
        "name": "Unset room button",
        "group": "d8aece7e220cdf0e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unset room from sensor",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 800,
        "wires": [
            [
                "10721ef50652b960",
                "78b2ca3aaea436d4"
            ]
        ]
    },
    {
        "id": "b1847f677738ea9c",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "90e782b358cbc58a",
        "type": "change",
        "z": "abcbbe81376760db",
        "name": "Send room to update button",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.room",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "40005c2dfeb4d635",
                "c39a69a032d82237",
                "5bfd86873d4e1b17"
            ]
        ]
    },
    {
        "id": "6596de9d82e63d9d",
        "type": "change",
        "z": "abcbbe81376760db",
        "name": "Send sensor_id to unset button",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.sensor_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 800,
        "wires": [
            [
                "2c85d54f4f8098c8"
            ]
        ]
    },
    {
        "id": "c39a69a032d82237",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "Print room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "78b2ca3aaea436d4",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 860,
        "wires": []
    },
    {
        "id": "10721ef50652b960",
        "type": "function",
        "z": "abcbbe81376760db",
        "name": "Unset room from sensor_id",
        "func": "\nif (msg.topic != null){\n    \n    msg.queryParameters = { \n        sensor_id: msg.topic\n    }\n    \n    msg.query = \"DELETE FROM sensors WHERE sensor_id = $sensor_id;\"\n\n    return msg;   \n    \n}\nelse{\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 800,
        "wires": [
            [
                "e0d835eccc458c4c",
                "d010587c21512e8e",
                "0d19a90fd1023b0b"
            ]
        ]
    },
    {
        "id": "8ff6fac16d9a9463",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "Print Sensor_id",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 800,
        "wires": []
    },
    {
        "id": "85b54c58614f8b94",
        "type": "link out",
        "z": "abcbbe81376760db",
        "name": "",
        "mode": "link",
        "links": [
            "2cc695e8368b3ec8",
            "998fd6d68816438c"
        ],
        "x": 1265,
        "y": 860,
        "wires": []
    },
    {
        "id": "e0d835eccc458c4c",
        "type": "function",
        "z": "abcbbe81376760db",
        "name": "Update output label",
        "func": "msg.payload = `Unset room from ID ${msg.queryParameters.sensor_id}`\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 860,
        "wires": [
            [
                "85b54c58614f8b94"
            ]
        ]
    },
    {
        "id": "54375fe57fa89d66",
        "type": "link in",
        "z": "abcbbe81376760db",
        "name": "",
        "links": [
            "782b28977b67670b"
        ],
        "x": 375,
        "y": 860,
        "wires": [
            [
                "2c85d54f4f8098c8"
            ]
        ]
    },
    {
        "id": "782b28977b67670b",
        "type": "link out",
        "z": "abcbbe81376760db",
        "name": "",
        "mode": "link",
        "links": [
            "54375fe57fa89d66"
        ],
        "x": 605,
        "y": 300,
        "wires": []
    },
    {
        "id": "957cd4579c8a4e95",
        "type": "function",
        "z": "abcbbe81376760db",
        "name": "Reset UI values",
        "func": "msg = null;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "782b28977b67670b"
            ]
        ]
    },
    {
        "id": "eb1b895e6a4e47b4",
        "type": "change",
        "z": "abcbbe81376760db",
        "name": "Pass to msg.options",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "options",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "6d21a86ecb38f6c0"
            ]
        ]
    },
    {
        "id": "e46758cf77ce259b",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "Print rooms",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "56dc7e81c32fc641",
        "type": "function",
        "z": "abcbbe81376760db",
        "name": "Rooms query",
        "func": "msg.query = \"SELECT * FROM sensors;\"\n//msg.topic=`DELETE FROM sensors where sensor_id=\"postman-1\";`\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "68718625666dcb05"
            ]
        ]
    },
    {
        "id": "03a752480ff880c7",
        "type": "inject",
        "z": "abcbbe81376760db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "56dc7e81c32fc641"
            ]
        ]
    },
    {
        "id": "04630c6cbb953a4b",
        "type": "comment",
        "z": "abcbbe81376760db",
        "name": "Debug select for all rooms in DB",
        "info": "",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "68718625666dcb05",
        "type": "postgresql",
        "z": "abcbbe81376760db",
        "name": "",
        "query": "",
        "postgreSQLConfig": "b6d5c0074129b3d4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "e46758cf77ce259b"
            ]
        ]
    },
    {
        "id": "aa9c932034100adb",
        "type": "postgresql",
        "z": "abcbbe81376760db",
        "name": "",
        "query": "",
        "postgreSQLConfig": "b6d5c0074129b3d4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "7c51acc01546c98e"
            ]
        ]
    },
    {
        "id": "d010587c21512e8e",
        "type": "postgresql",
        "z": "abcbbe81376760db",
        "name": "",
        "query": "",
        "postgreSQLConfig": "b6d5c0074129b3d4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1039,
        "y": 800,
        "wires": [
            [
                "8ff6fac16d9a9463"
            ]
        ]
    },
    {
        "id": "98daa093b08c8f89",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 500,
        "wires": []
    },
    {
        "id": "0d19a90fd1023b0b",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 920,
        "wires": []
    },
    {
        "id": "be3caf10bde2f1d8",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 620,
        "wires": []
    },
    {
        "id": "fed7b519eda96c93",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "998fd6d68816438c",
        "type": "link in",
        "z": "abcbbe81376760db",
        "name": "",
        "links": [
            "ac78c5f7cdf22fbe",
            "59cbff11d4dd6b53",
            "85b54c58614f8b94"
        ],
        "x": 175,
        "y": 420,
        "wires": [
            [
                "957cd4579c8a4e95",
                "23b3b3b4f7d6613d"
            ]
        ]
    },
    {
        "id": "77e6620d5b1454a8",
        "type": "debug",
        "z": "abcbbe81376760db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 640,
        "wires": []
    },
    {
        "id": "d8aece7e220cdf0e",
        "type": "ui_group",
        "name": "Room",
        "tab": "d1f25c62d446af39",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1f25c62d446af39",
        "type": "ui_tab",
        "name": "Sensor tab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]