nodered/nodered-flows/Sensor-datetime-API.json
[
    {
        "id": "9968b49e9c0c6894",
        "type": "tab",
        "label": "Sensor datetime api",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c073391072a5ba7a",
        "type": "http in",
        "z": "9968b49e9c0c6894",
        "name": "HTTP get time",
        "url": "/datetime",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "76b6b247e2b0e62b"
            ]
        ]
    },
    {
        "id": "76b6b247e2b0e62b",
        "type": "exec",
        "z": "9968b49e9c0c6894",
        "command": "date -I'seconds'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "4519853c0f89687c",
                "fa7a6e9726dfd4bd"
            ],
            [],
            []
        ]
    },
    {
        "id": "4519853c0f89687c",
        "type": "debug",
        "z": "9968b49e9c0c6894",
        "name": "Datetime",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "24842cf75ebe60a5",
        "type": "http response",
        "z": "9968b49e9c0c6894",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "fa7a6e9726dfd4bd",
        "type": "function",
        "z": "9968b49e9c0c6894",
        "name": "Convert to GMT+2",
        "func": "\n// 2022-09-08T17:08:38+0000 everything after plus is removed\nlet date = new Date(msg.payload.split(\"+\")[0]);\n\ndate.setTime(date.getTime() + 2 * 60 * 60 * 1000);\nmsg.payload = `{\"datetime\":\"${date.toISOString().split(\".\")[0]}\"}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 140,
        "wires": [
            [
                "24842cf75ebe60a5"
            ]
        ]
    }
]