nodered/Alerting.json
[
    {
        "id": "07ac8830d610a027",
        "type": "tab",
        "label": "Alerting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43a8870952a2a674",
        "type": "group",
        "z": "07ac8830d610a027",
        "name": "Automation for sensors not sending data",
        "style": {
            "label": true
        },
        "nodes": [
            "ada0f6b1aec3df3f",
            "b6ade717b3f2c726",
            "92f4d0dd5b907503",
            "1f0d165122286e2f",
            "6851fc4e1d98013d",
            "226fa191b5078f7c",
            "01d76788eddb7676",
            "f88830bc51caac2a",
            "72328fa17b84d64c",
            "23aa29954e8277d1",
            "24ad4f2e896be3c7",
            "3beb2940e9859e99",
            "841526c51b1fb5dd",
            "31938c4d519cf419",
            "50818ff4fa3a9b25",
            "1c488b8dc21bd9f2",
            "05eb6e5a47c4e318",
            "3bcc7253abd8b325"
        ],
        "x": 464,
        "y": 471.5,
        "w": 1422,
        "h": 249.5
    },
    {
        "id": "ada0f6b1aec3df3f",
        "type": "debug",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Print rooms",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 520,
        "wires": []
    },
    {
        "id": "b6ade717b3f2c726",
        "type": "mysql",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 980,
        "y": 580,
        "wires": [
            [
                "01d76788eddb7676"
            ]
        ]
    },
    {
        "id": "92f4d0dd5b907503",
        "type": "function",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Rooms query",
        "func": "msg.topic=\"SELECT DISTINCT room FROM sensors;\"\n\n//msg.topic=`DELETE FROM sensors where sensor_id=\"postman-1\";`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 580,
        "wires": [
            [
                "b6ade717b3f2c726"
            ]
        ]
    },
    {
        "id": "1f0d165122286e2f",
        "type": "inject",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/20 6-21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 580,
        "wires": [
            [
                "92f4d0dd5b907503",
                "1c488b8dc21bd9f2"
            ]
        ]
    },
    {
        "id": "6851fc4e1d98013d",
        "type": "split",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Split values",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "payload",
        "x": 1430,
        "y": 580,
        "wires": [
            [
                "226fa191b5078f7c"
            ]
        ]
    },
    {
        "id": "226fa191b5078f7c",
        "type": "change",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Get room",
        "rules": [
            {
                "t": "move",
                "p": "payload.room",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 580,
        "wires": [
            [
                "ada0f6b1aec3df3f",
                "50818ff4fa3a9b25"
            ]
        ]
    },
    {
        "id": "01d76788eddb7676",
        "type": "function",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Add outdoors and boiler",
        "func": "\nmsg.payload = msg.payload.concat([{room: \"Outdoors\"}, {room: \"water_boiler_room\"}])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 580,
        "wires": [
            [
                "6851fc4e1d98013d"
            ]
        ]
    },
    {
        "id": "f88830bc51caac2a",
        "type": "function",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "For each room check if data is send",
        "func": "msg.room = msg.payload;\nmsg.query = \n`\nfrom(bucket: \"Sensor_data\")\n    |> range(start: -5m)\n    |> filter(fn: (r) => r[\"room\"] == \"${msg.room}\"\n       )\n`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 680,
        "wires": [
            [
                "72328fa17b84d64c"
            ]
        ]
    },
    {
        "id": "72328fa17b84d64c",
        "type": "influxdb in",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "influxdb": "f64d2d329f647e71",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "swiftblade1982@gmail.com",
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "23aa29954e8277d1",
                "24ad4f2e896be3c7"
            ]
        ]
    },
    {
        "id": "23aa29954e8277d1",
        "type": "debug",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Print results",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 640,
        "wires": []
    },
    {
        "id": "24ad4f2e896be3c7",
        "type": "switch",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "If sensor has no data",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 680,
        "wires": [
            [
                "3beb2940e9859e99"
            ]
        ]
    },
    {
        "id": "3beb2940e9859e99",
        "type": "function",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Send notification to Discord",
        "func": "msg.payload = {\n    content: `@everyone - Sensor set to room ${msg.room} isn't sending data to InfluxDB. Please check it.`\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 680,
        "wires": [
            [
                "841526c51b1fb5dd"
            ]
        ]
    },
    {
        "id": "841526c51b1fb5dd",
        "type": "http request",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://discord.com/api/webhooks/1154890161591685241/bozqQR12QPoLSWtq0EtbAQQYoovYSnZAZv4URUNcxt8kFnqmNW2PKatRuOT5XH5tz5EM",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 1690,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "31938c4d519cf419",
        "type": "link in",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "link in 1",
        "links": [
            "50818ff4fa3a9b25"
        ],
        "x": 505,
        "y": 680,
        "wires": [
            [
                "f88830bc51caac2a"
            ]
        ]
    },
    {
        "id": "50818ff4fa3a9b25",
        "type": "link out",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "31938c4d519cf419"
        ],
        "x": 1745,
        "y": 580,
        "wires": []
    },
    {
        "id": "1c488b8dc21bd9f2",
        "type": "exec",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "command": "date -I'seconds'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 520,
        "wires": [
            [
                "05eb6e5a47c4e318"
            ],
            [],
            []
        ]
    },
    {
        "id": "05eb6e5a47c4e318",
        "type": "function",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Create msg.payload",
        "func": "\n// 2022-09-08T17:08:38+0000 everything after plus is removed\nlet date = new Date(msg.payload.split(\"+\")[0]);\nUTC_date = `${date.toISOString().split(\".\")[0]}`;\n\ndate.setTime(date.getTime() + 2 * 60 * 60 * 1000);\nLocal_date = `${date.toISOString().split(\".\")[0]}`;\n\n\nmsg.payload = \n\n`\nRunning automation at: \nUTC time  ${UTC_date}\nGMT+2  ${Local_date}\n`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "3bcc7253abd8b325"
            ]
        ]
    },
    {
        "id": "3bcc7253abd8b325",
        "type": "debug",
        "z": "07ac8830d610a027",
        "g": "43a8870952a2a674",
        "name": "Print msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 520,
        "wires": []
    },
    {
        "id": "77baa11c77157752",
        "type": "MySQLdatabase",
        "name": "RPI4_MariaDB",
        "host": "mariadb",
        "port": "3306",
        "db": "sensor",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f64d2d329f647e71",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB RPI4",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    }
]
