nodered/RoomDB.json
[
    {
        "id": "5cfcd9c214c1c5b6",
        "type": "group",
        "z": "85e1c9c614704599",
        "name": "Communication between MQTT and MariaDB",
        "style": {
            "label": true
        },
        "nodes": [
            "3f77a3a408f57b89",
            "10dc202d812ab06f",
            "a5df31d9b824ea80",
            "4b5404ca96341f86",
            "1e35b8163766facd",
            "f78cf1257426b023",
            "fb84d1b4be8637b1",
            "f0179dbe7f9b8a02",
            "7a82ea5a11c9574d",
            "02e1216cdf2577cc",
            "57953061e4e34317",
            "643986446b54b7f4",
            "395cf286160c18c8",
            "0911c0e066a1a458",
            "514698c359bd0c22",
            "2fb8c507b5ef6671",
            "b4a550155e9922d6",
            "1c4feeab3dfc8cd3",
            "23237cb681eb544b",
            "9e863c959f9f3e06"
        ],
        "x": -6,
        "y": 99,
        "w": 992,
        "h": 422
    },
    {
        "id": "4e5e6fb077080fff",
        "type": "subflow",
        "name": "Get room",
        "info": "Queries room from DB for specified sensor_id\n\n:input msg.payload - sensor_id of sensor for which we want to find room.\n\n:output msg.room - Room set for sensor_id.\n:output msg.sensor_id - sensor_id of sensor for which we want to find room.",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 160,
                "wires": [
                    {
                        "id": "9d980fb4671db250"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 220,
                "wires": [
                    {
                        "id": "39f55663ac9c12e0",
                        "port": 0
                    },
                    {
                        "id": "c2202819ef147b55",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5040ec414bc16ee2",
        "type": "comment",
        "z": "4e5e6fb077080fff",
        "name": "Query current room of sensor",
        "info": "Queries room from DB for specified sensor_id\n\n:input msg.payload - sensor_id of sensor for which we want to find room.\n\n:output msg.room - Room set for sensor_id.\n:output msg.sensor_id - sensor_id of sensor for which we want to find room.",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "dded03747665e27c",
        "type": "mysql",
        "z": "4e5e6fb077080fff",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ea402475fd1ea75a"
            ]
        ]
    },
    {
        "id": "9d980fb4671db250",
        "type": "function",
        "z": "4e5e6fb077080fff",
        "name": "Create query",
        "func": "/*var sensorId = msg.payload;\nmsg.query =  `from(bucket: \"Sensor_data\")\n    |> range(start: -1h)\n    |> filter(fn: (r) => r.sensor_id == \"${sensorId}\")\n    |> keyValues(keyColumns: [\"room\"])\n    |> keep(columns: [\"_value\"])\n    |> group()\n    |> distinct()`*/\nmsg.sensor_id = msg.payload\nmsg.topic=`select sensor_id, room from sensors where sensor_id = \"${msg.sensor_id}\";`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 160,
        "wires": [
            [
                "dded03747665e27c"
            ]
        ]
    },
    {
        "id": "ea402475fd1ea75a",
        "type": "switch",
        "z": "4e5e6fb077080fff",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "c2202819ef147b55"
            ],
            [
                "39f55663ac9c12e0"
            ]
        ]
    },
    {
        "id": "60981c41507bea5b",
        "type": "comment",
        "z": "4e5e6fb077080fff",
        "name": "If empty array returns \"Room not yet set\" in room val",
        "info": "",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "39f55663ac9c12e0",
        "type": "change",
        "z": "4e5e6fb077080fff",
        "name": "Set \"No room\" when empty",
        "rules": [
            {
                "t": "set",
                "p": "room",
                "pt": "msg",
                "to": "Room not yet set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c2202819ef147b55",
        "type": "change",
        "z": "4e5e6fb077080fff",
        "name": "Move to msg.room var",
        "rules": [
            {
                "t": "move",
                "p": "payload[0].room",
                "pt": "msg",
                "to": "room",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3f77a3a408f57b89",
        "type": "inject",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "10dc202d812ab06f"
            ]
        ]
    },
    {
        "id": "10dc202d812ab06f",
        "type": "function",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Create sensors table",
        "func": "msg.topic=\"CREATE TABLE sensors (sensor_id char(30) PRIMARY KEY, room char(30) NOT NULL);\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 160,
        "wires": [
            [
                "a5df31d9b824ea80"
            ]
        ]
    },
    {
        "id": "a5df31d9b824ea80",
        "type": "mysql",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "4b5404ca96341f86"
            ]
        ]
    },
    {
        "id": "4b5404ca96341f86",
        "type": "debug",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "1e35b8163766facd",
        "type": "function",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Rooms query",
        "func": "msg.topic=\"SELECT * FROM sensors;\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 280,
        "wires": [
            [
                "9e863c959f9f3e06"
            ]
        ]
    },
    {
        "id": "f78cf1257426b023",
        "type": "inject",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "1e35b8163766facd"
            ]
        ]
    },
    {
        "id": "fb84d1b4be8637b1",
        "type": "mqtt in",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Sensors status msg",
        "topic": "sensor/status",
        "qos": "0",
        "datatype": "auto",
        "broker": "b34a1617c5275030",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "f0179dbe7f9b8a02",
                "643986446b54b7f4",
                "2fb8c507b5ef6671"
            ]
        ]
    },
    {
        "id": "f0179dbe7f9b8a02",
        "type": "function",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Handle sensors room request",
        "func": "var regRequest = /(REQUEST\\:?)/is\nvar matches = msg.payload.match(regRequest)\nif (!!matches) {\n    var regExp = /\\[.+?\\]/g;\n    //var matches = regExp.exec(msg.payload)\n    matches = msg.payload\n        .match(regExp)\n        .map(s => s.substring(1, s.length - 1))\n    /*msg.payload = { If in the future we want to use room field\n        sensorId: matches[0],\n        field: matches[1]\n    }*/\n    msg.payload = matches[0]\n    //msg.topic=\"select sensor_id, room from rooms where sensor_id = :sensorId\";\n    return msg;\n} else {\n    // Update není součástí msg\n    return null;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "395cf286160c18c8"
            ]
        ]
    },
    {
        "id": "7a82ea5a11c9574d",
        "type": "function",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Format MQTT msg",
        "func": "/*sensor_id = msg.payload[0].sensor_id;\nroom = msg.payload[0].room;\nmsg.payload = sensor_id + \"-\" + room;*/\n\nif (msg.room == \"Room not yet set\") {\n    return null\n}\nelse{\n    msg.payload = msg.sensor_id + \"-\" + msg.room;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 400,
        "wires": [
            [
                "02e1216cdf2577cc",
                "57953061e4e34317"
            ]
        ]
    },
    {
        "id": "02e1216cdf2577cc",
        "type": "debug",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Print MQTT msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "57953061e4e34317",
        "type": "mqtt out",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Send room to sensor",
        "topic": "sensor/room",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b34a1617c5275030",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "643986446b54b7f4",
        "type": "function",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Handle room update",
        "func": "var regUpdate = /(UPDATE\\:?)/is\nvar matches = msg.payload.match(regUpdate)\nif (!!matches) {\n    var regExp = /\\[.+?\\]/g;\n    //var matches = regExp.exec(msg.payload)\n    matches = msg.payload\n        .match(regExp)\n        .map(s => s.substring(1, s.length - 1))\n    msg.payload = {\n        sensor_id: matches[0],\n        room: matches[1]\n    }\n    msg.topic=\"INSERT INTO sensors (`sensor_id`, `room`) VALUES (:sensor_id, :room) ON DUPLICATE KEY UPDATE `sensor_id`=:sensor_id, `room`=:room;\"\n    return msg;\n} else {\n    // Update není součástí msg\n    return null;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "23237cb681eb544b"
            ]
        ]
    },
    {
        "id": "395cf286160c18c8",
        "type": "subflow:4e5e6fb077080fff",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "",
        "env": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "7a82ea5a11c9574d",
                "1c4feeab3dfc8cd3"
            ]
        ]
    },
    {
        "id": "0911c0e066a1a458",
        "type": "comment",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Debug select for all rooms in DB",
        "info": "",
        "x": 210,
        "y": 240,
        "wires": []
    },
    {
        "id": "514698c359bd0c22",
        "type": "debug",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Print rooms",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "2fb8c507b5ef6671",
        "type": "debug",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "Print msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 320,
        "wires": []
    },
    {
        "id": "b4a550155e9922d6",
        "type": "debug",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "1c4feeab3dfc8cd3",
        "type": "debug",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "23237cb681eb544b",
        "type": "mysql",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "b4a550155e9922d6"
            ]
        ]
    },
    {
        "id": "9e863c959f9f3e06",
        "type": "mysql",
        "z": "85e1c9c614704599",
        "g": "5cfcd9c214c1c5b6",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "514698c359bd0c22"
            ]
        ]
    },
    {
        "id": "77baa11c77157752",
        "type": "MySQLdatabase",
        "name": "RPI4_MariaDB",
        "host": "mariadb",
        "port": "3306",
        "db": "sensor",
        "tz": "",
        "charset": "UTF8",
        "credentials": {
            "user": "root",
            "password": "example"
        }
    },
    {
        "id": "b34a1617c5275030",
        "type": "mqtt-broker",
        "name": "RPI4_MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]