nodered/Room_selection_UI.json
[
    {
        "id": "c4e5c2ecfe2a7d7c",
        "type": "subflow",
        "name": "Get Room",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 200,
                "wires": [
                    {
                        "id": "2f90ac2e6758dcb9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1120,
                "y": 200,
                "wires": [
                    {
                        "id": "aa6109e4a5c0be32",
                        "port": 0
                    },
                    {
                        "id": "5e515066c83f5d87",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "edb7f5ee4bb17e78",
        "type": "mysql",
        "z": "c4e5c2ecfe2a7d7c",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "b50f2f9f75d72f28"
            ]
        ]
    },
    {
        "id": "2f90ac2e6758dcb9",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Create query",
        "func": "\nmsg.sensor_id = msg.payload;\nmsg.topic=`select sensor_id, room from sensors where sensor_id = \"${msg.payload}\";`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "edb7f5ee4bb17e78"
            ]
        ]
    },
    {
        "id": "aa6109e4a5c0be32",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Get object from array",
        "func": "msg.payload = msg.payload[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b50f2f9f75d72f28",
        "type": "switch",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Empty check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "aa6109e4a5c0be32"
            ],
            [
                "5e515066c83f5d87"
            ]
        ]
    },
    {
        "id": "5e515066c83f5d87",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Create empty object",
        "func": "\nmsg.payload = {\n    sensor_id: msg.sensor_id,\n    room: \"Not specified\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "98df4c30829c6402",
        "type": "subflow",
        "name": "Get all sensor_ids",
        "info": "Gets all sensor_id values from InfluxDB",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "14bb6ad5b90437d6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 280,
                "wires": [
                    {
                        "id": "63c954b73f480d60",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "14bb6ad5b90437d6",
        "type": "influxdb in",
        "z": "98df4c30829c6402",
        "influxdb": "f64d2d329f647e71",
        "name": "Query",
        "query": "import \"influxdata/influxdb/schema\"\nschema.tagValues(\n    bucket: \"Sensor_data\",\n    tag: \"sensor_id\",\n    predicate: (r) => r.room != \"water_boiler_room\",\n    start: -1d\n)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "swiftblade1982@gmail.com",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "b979f2c4032b3704"
            ]
        ]
    },
    {
        "id": "b979f2c4032b3704",
        "type": "split",
        "z": "98df4c30829c6402",
        "name": "Split values",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "payload",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "04c3fbb9e8fdb252"
            ]
        ]
    },
    {
        "id": "04c3fbb9e8fdb252",
        "type": "change",
        "z": "98df4c30829c6402",
        "name": "Get sensor_id",
        "rules": [
            {
                "t": "move",
                "p": "payload._value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "63c954b73f480d60"
            ]
        ]
    },
    {
        "id": "63c954b73f480d60",
        "type": "join",
        "z": "98df4c30829c6402",
        "name": "Join in array",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "01a62efd963d73c9",
        "type": "comment",
        "z": "98df4c30829c6402",
        "name": "Gets all sensor_id values from InfluxDB",
        "info": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "f64d2d329f647e71",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB RPI4",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "abcbbe81376760db",
        "type": "tab",
        "label": "Room selection UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a4fc256d38b2418",
        "type": "group",
        "z": "abcbbe81376760db",
        "name": "Indoors sensor room selection UI",
        "style": {
            "label": true
        },
        "nodes": [
            "6d21a86ecb38f6c0",
            "4c70d5405294bd49",
            "a2d0f585d960bf09",
            "fbbe2da644ed9939",
            "311c13a3c6df72e3",
            "5bfd86873d4e1b17",
            "5680a189a68fb36c",
            "b0db298bdc56c80c",
            "40005c2dfeb4d635",
            "33b2f583cc7274df",
            "5e85f38e385f6511",
            "a986ee886b8cdeb3",
            "d2bb9f0b9a3dedb1",
            "23b3b3b4f7d6613d",
            "798686e05470ab84",
            "9627fd9365e8311b",
            "adbbc86fe33c1ae9",
            "40f208c35ea7dbe1",
            "7c51acc01546c98e",
            "c9aafd3f212e8e2a",
            "a2fb98afc6c338b7",
            "2cc695e8368b3ec8",
            "0ef91984d65b4640",
            "92d5f099273b2155",
            "46a34c461997b473",
            "2c85d54f4f8098c8",
            "b1847f677738ea9c",
            "90e782b358cbc58a",
            "6596de9d82e63d9d",
            "c39a69a032d82237",
            "78b2ca3aaea436d4",
            "12e17689c4c1bac4",
            "10721ef50652b960",
            "8ff6fac16d9a9463",
            "85b54c58614f8b94",
            "e0d835eccc458c4c",
            "54375fe57fa89d66",
            "782b28977b67670b",
            "957cd4579c8a4e95",
            "eb1b895e6a4e47b4"
        ],
        "x": 54,
        "y": 59,
        "w": 1472,
        "h": 602
    },
    {
        "id": "6d21a86ecb38f6c0",
        "type": "ui_dropdown",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Choose sensor_id",
        "label": "",
        "tooltip": "",
        "place": "Select a sensor_id",
        "group": "d8aece7e220cdf0e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 830,
        "y": 140,
        "wires": [
            [
                "c9aafd3f212e8e2a",
                "b1847f677738ea9c"
            ]
        ]
    },
    {
        "id": "4c70d5405294bd49",
        "type": "subflow:98df4c30829c6402",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "",
        "env": [],
        "x": 390,
        "y": 140,
        "wires": [
            [
                "6d21a86ecb38f6c0",
                "a2d0f585d960bf09",
                "eb1b895e6a4e47b4"
            ]
        ]
    },
    {
        "id": "a2d0f585d960bf09",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Sensor_ids",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "fbbe2da644ed9939",
        "type": "ui_ui_control",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Reset web UI",
        "events": "connect",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "4c70d5405294bd49",
                "92d5f099273b2155",
                "957cd4579c8a4e95"
            ]
        ]
    },
    {
        "id": "311c13a3c6df72e3",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Print new room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "5bfd86873d4e1b17",
        "type": "ui_text",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "group": "d8aece7e220cdf0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Show current room",
        "label": "Current room of sensor:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 440,
        "wires": []
    },
    {
        "id": "5680a189a68fb36c",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Print room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "b0db298bdc56c80c",
        "type": "link in",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "",
        "links": [
            "a986ee886b8cdeb3"
        ],
        "x": 95,
        "y": 440,
        "wires": [
            [
                "33b2f583cc7274df",
                "90e782b358cbc58a",
                "6596de9d82e63d9d"
            ]
        ]
    },
    {
        "id": "40005c2dfeb4d635",
        "type": "ui_form",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Update room",
        "label": "",
        "group": "d8aece7e220cdf0e",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Room",
                "value": "room",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "room": ""
        },
        "payload": "",
        "submit": "Save",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "311c13a3c6df72e3",
                "adbbc86fe33c1ae9",
                "9627fd9365e8311b"
            ]
        ]
    },
    {
        "id": "33b2f583cc7274df",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Print sensor_id and room",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 320,
        "wires": []
    },
    {
        "id": "5e85f38e385f6511",
        "type": "change",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Move sensor_id val to flow",
        "rules": [
            {
                "t": "set",
                "p": "sensor_id",
                "pt": "flow",
                "to": "payload.sensor_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 140,
        "wires": [
            [
                "a986ee886b8cdeb3"
            ]
        ]
    },
    {
        "id": "a986ee886b8cdeb3",
        "type": "link out",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Output room val",
        "mode": "link",
        "links": [
            "b0db298bdc56c80c"
        ],
        "x": 1485,
        "y": 140,
        "wires": []
    },
    {
        "id": "d2bb9f0b9a3dedb1",
        "type": "change",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Reset room val",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "None",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 500,
        "wires": [
            [
                "5bfd86873d4e1b17"
            ]
        ]
    },
    {
        "id": "23b3b3b4f7d6613d",
        "type": "link out",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "RESET INPUT",
        "mode": "link",
        "links": [
            "798686e05470ab84",
            "2cc695e8368b3ec8"
        ],
        "x": 585,
        "y": 240,
        "wires": []
    },
    {
        "id": "798686e05470ab84",
        "type": "link in",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Reset link 2",
        "links": [
            "23b3b3b4f7d6613d"
        ],
        "x": 745,
        "y": 500,
        "wires": [
            [
                "d2bb9f0b9a3dedb1"
            ]
        ]
    },
    {
        "id": "9627fd9365e8311b",
        "type": "function",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Update room label",
        "func": "msg.payload = msg.payload.room\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 360,
        "wires": [
            [
                "5bfd86873d4e1b17",
                "46a34c461997b473"
            ]
        ]
    },
    {
        "id": "adbbc86fe33c1ae9",
        "type": "function",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Handle DB room update",
        "func": "\n\nsensor_id = flow.get('sensor_id')\nroom = msg.payload.room\nif (room != \"Room not yet set\" && !room.includes(\"-\")) {\n    \n    msg.payload = {\n        sensor_id: sensor_id,\n        room: room\n    }\n    msg.topic=\"INSERT INTO sensors (`sensor_id`, `room`) VALUES (:sensor_id, :room) ON DUPLICATE KEY UPDATE `sensor_id`=:sensor_id, `room`=:room;\"\n    return msg;\n}\nelse{\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "40f208c35ea7dbe1"
            ]
        ]
    },
    {
        "id": "40f208c35ea7dbe1",
        "type": "mysql",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "7c51acc01546c98e"
            ]
        ]
    },
    {
        "id": "7c51acc01546c98e",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 300,
        "wires": []
    },
    {
        "id": "c9aafd3f212e8e2a",
        "type": "subflow:c4e5c2ecfe2a7d7c",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "",
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "5e85f38e385f6511",
                "5680a189a68fb36c"
            ]
        ]
    },
    {
        "id": "a2fb98afc6c338b7",
        "type": "ui_text",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "group": "d8aece7e220cdf0e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Output label",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1330,
        "y": 360,
        "wires": []
    },
    {
        "id": "2cc695e8368b3ec8",
        "type": "link in",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "",
        "links": [
            "23b3b3b4f7d6613d",
            "ac78c5f7cdf22fbe",
            "85b54c58614f8b94"
        ],
        "x": 1015,
        "y": 400,
        "wires": [
            [
                "a2fb98afc6c338b7"
            ]
        ]
    },
    {
        "id": "0ef91984d65b4640",
        "type": "ui_button",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Reset button",
        "group": "d8aece7e220cdf0e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reload_sensor_ids",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "4c70d5405294bd49",
                "92d5f099273b2155",
                "957cd4579c8a4e95"
            ]
        ]
    },
    {
        "id": "92d5f099273b2155",
        "type": "change",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Update output label",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UI Reset complete",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "23b3b3b4f7d6613d"
            ]
        ]
    },
    {
        "id": "46a34c461997b473",
        "type": "change",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Update output label",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Room updated",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "a2fb98afc6c338b7"
            ]
        ]
    },
    {
        "id": "2c85d54f4f8098c8",
        "type": "ui_button",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Unset room button",
        "group": "d8aece7e220cdf0e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unset room from sensor",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "10721ef50652b960",
                "78b2ca3aaea436d4"
            ]
        ]
    },
    {
        "id": "b1847f677738ea9c",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Print sensor_id",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "90e782b358cbc58a",
        "type": "change",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Send room to update button",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.room",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "40005c2dfeb4d635",
                "c39a69a032d82237",
                "5bfd86873d4e1b17"
            ]
        ]
    },
    {
        "id": "6596de9d82e63d9d",
        "type": "change",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Send sensor_id to unset button",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.sensor_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "2c85d54f4f8098c8"
            ]
        ]
    },
    {
        "id": "c39a69a032d82237",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Print room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "78b2ca3aaea436d4",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Print Sensor_id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "12e17689c4c1bac4",
        "type": "mysql",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 1080,
        "y": 560,
        "wires": [
            [
                "8ff6fac16d9a9463"
            ]
        ]
    },
    {
        "id": "10721ef50652b960",
        "type": "function",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Unset room from sensor_id",
        "func": "\nif (msg.topic != null){\n    msg.payload = msg.topic;\n    msg.topic=`DELETE FROM sensors where sensor_id = \"${msg.payload}\";`\n\n    return msg;   \n    \n}\nelse{\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 560,
        "wires": [
            [
                "12e17689c4c1bac4",
                "e0d835eccc458c4c"
            ]
        ]
    },
    {
        "id": "8ff6fac16d9a9463",
        "type": "debug",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Print Sensor_id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 560,
        "wires": []
    },
    {
        "id": "85b54c58614f8b94",
        "type": "link out",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "",
        "mode": "link",
        "links": [
            "2cc695e8368b3ec8"
        ],
        "x": 1295,
        "y": 620,
        "wires": []
    },
    {
        "id": "e0d835eccc458c4c",
        "type": "function",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Update output label",
        "func": "msg.payload = `Unset room from ID ${msg.payload}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "85b54c58614f8b94"
            ]
        ]
    },
    {
        "id": "54375fe57fa89d66",
        "type": "link in",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "",
        "links": [
            "782b28977b67670b"
        ],
        "x": 405,
        "y": 620,
        "wires": [
            [
                "2c85d54f4f8098c8"
            ]
        ]
    },
    {
        "id": "782b28977b67670b",
        "type": "link out",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "",
        "mode": "link",
        "links": [
            "54375fe57fa89d66"
        ],
        "x": 585,
        "y": 200,
        "wires": []
    },
    {
        "id": "957cd4579c8a4e95",
        "type": "function",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Reset values",
        "func": "msg = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "782b28977b67670b"
            ]
        ]
    },
    {
        "id": "eb1b895e6a4e47b4",
        "type": "change",
        "z": "abcbbe81376760db",
        "g": "4a4fc256d38b2418",
        "name": "Pass to msg.options",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "options",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "6d21a86ecb38f6c0"
            ]
        ]
    },
    {
        "id": "d8aece7e220cdf0e",
        "type": "ui_group",
        "name": "Room",
        "tab": "d1f25c62d446af39",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "77baa11c77157752",
        "type": "MySQLdatabase",
        "name": "RPI4_MariaDB",
        "host": "mariadb",
        "port": "3306",
        "db": "sensor",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d1f25c62d446af39",
        "type": "ui_tab",
        "name": "Sensor tab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]