nodered/Sensor_Influx_API.json
[
    {
        "id": "98df4c30829c6402",
        "type": "subflow",
        "name": "Get all sensor_ids",
        "info": "Gets all sensor_id values from InfluxDB",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "14bb6ad5b90437d6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 320,
                "wires": [
                    {
                        "id": "0acfe7da4899a86a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "14bb6ad5b90437d6",
        "type": "influxdb in",
        "z": "98df4c30829c6402",
        "influxdb": "f64d2d329f647e71",
        "name": "Query",
        "query": "import \"influxdata/influxdb/v1\"\nv1.tagValues(\n    bucket: \"Sensor_data\",\n    tag: \"sensor_id\",\n    predicate: (r) => r.comm_protocol != \"Scrap\" and r.room != \"water_boiler_room\",\n    start: -1d\n)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "swiftblade1982@gmail.com",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "b979f2c4032b3704"
            ]
        ]
    },
    {
        "id": "b979f2c4032b3704",
        "type": "split",
        "z": "98df4c30829c6402",
        "name": "Split values",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "payload",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "04c3fbb9e8fdb252"
            ]
        ]
    },
    {
        "id": "04c3fbb9e8fdb252",
        "type": "change",
        "z": "98df4c30829c6402",
        "name": "Get sensor_id",
        "rules": [
            {
                "t": "move",
                "p": "payload._value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "63c954b73f480d60"
            ]
        ]
    },
    {
        "id": "63c954b73f480d60",
        "type": "join",
        "z": "98df4c30829c6402",
        "name": "Join in array",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "0acfe7da4899a86a"
            ]
        ]
    },
    {
        "id": "0acfe7da4899a86a",
        "type": "change",
        "z": "98df4c30829c6402",
        "name": "Pass to msg.options",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "options",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "01a62efd963d73c9",
        "type": "comment",
        "z": "98df4c30829c6402",
        "name": "Gets all sensor_id values from InfluxDB",
        "info": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "c4e5c2ecfe2a7d7c",
        "type": "subflow",
        "name": "Get Room",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 200,
                "wires": [
                    {
                        "id": "2f90ac2e6758dcb9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1120,
                "y": 200,
                "wires": [
                    {
                        "id": "aa6109e4a5c0be32",
                        "port": 0
                    },
                    {
                        "id": "5e515066c83f5d87",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "edb7f5ee4bb17e78",
        "type": "mysql",
        "z": "c4e5c2ecfe2a7d7c",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "b50f2f9f75d72f28"
            ]
        ]
    },
    {
        "id": "2f90ac2e6758dcb9",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Create query",
        "func": "\nmsg.sensor_id = msg.payload;\nmsg.topic=`select sensor_id, room from sensors where sensor_id = \"${msg.payload}\";`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "edb7f5ee4bb17e78"
            ]
        ]
    },
    {
        "id": "aa6109e4a5c0be32",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Get object from array",
        "func": "msg.payload = msg.payload[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b50f2f9f75d72f28",
        "type": "switch",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Empty check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "aa6109e4a5c0be32"
            ],
            [
                "5e515066c83f5d87"
            ]
        ]
    },
    {
        "id": "5e515066c83f5d87",
        "type": "function",
        "z": "c4e5c2ecfe2a7d7c",
        "name": "Create empty object",
        "func": "\nmsg.payload = {\n    sensor_id: msg.sensor_id,\n    room: \"Not specified\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6f295efb41de0f64",
        "type": "tab",
        "label": "NIG cluster sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2e3c67e8b32942e",
        "type": "group",
        "z": "6f295efb41de0f64",
        "name": "Sensors REST API",
        "style": {
            "label": true
        },
        "nodes": [
            "07d6b639cb962ff6",
            "94204058074f2134",
            "717ec79f238636a8",
            "d6826ebc99181372",
            "0c900ab0327e2dee",
            "f40b9c614b45b718",
            "7bc472545809e322",
            "d5f993d33f4508a3",
            "d2d9175cc521443a",
            "d84deab32d24b48f",
            "c979f22f6171cbe6",
            "b61e240e36ac6d7e",
            "213a26f8f0e4420a",
            "50c8b9014b1bf57c",
            "87a70204a1945bc1",
            "d4ad7e1ca3716e2a",
            "8c679348d041b700",
            "a9c50bae42883c2e",
            "a5224bf7b48d60d3",
            "11b12c8f2978b551",
            "78936ed5134682cd"
        ],
        "x": 54,
        "y": 39,
        "w": 1092,
        "h": 502
    },
    {
        "id": "2ea865067ea82e10",
        "type": "group",
        "z": "6f295efb41de0f64",
        "name": "Room selection UI",
        "style": {
            "label": true
        },
        "nodes": [
            "3cf2ddb2d049a0b3",
            "c5dc653808fe5778",
            "ca7c81d03b0407bf",
            "e250e872bb569915",
            "b6fba50961fa06bb",
            "6189a271221595d0",
            "b006d3fef169f565",
            "c66106090c9d5c0f",
            "b206f46388be3911",
            "924cc8d0bcd319cc",
            "a9b14b385aefc2bc",
            "0704747d1da8393e",
            "32636855bbd4a4fc",
            "2dcc8a659844b949",
            "b45cb15dc6960154",
            "d79e436c22edc0b5",
            "fc9bf0a09982f8ed",
            "6fd83a886d66d701",
            "069131aa5c579c54",
            "731f77ad8cf0d41f",
            "570484cba4938cfa",
            "e91dde7da391a467",
            "c0e24c660bd8d17b",
            "48b6fabaa1a9d905",
            "de2fcceb18ec4cbc",
            "5029c718dea4974a",
            "ca4618b88a20b939",
            "015586d3e5d880f5",
            "8f2cfb5fe7c076fd",
            "70c5237e9e03b433",
            "af537a8542d28da4",
            "ac8a6418e5e55886",
            "a18f80fb4e64cbae",
            "f4a80e58d3e3d616",
            "7f7139102346d13d",
            "557ea7be4964987a",
            "1f2a8c9e3402d5b9",
            "afbf1aa292fefd3c",
            "d77e5ea1f14ec8e9"
        ],
        "x": 54,
        "y": 579,
        "w": 1372,
        "h": 602
    },
    {
        "id": "07d6b639cb962ff6",
        "type": "http in",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Get values from sensor",
        "url": "/postSensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "d2d9175cc521443a",
                "c979f22f6171cbe6"
            ]
        ]
    },
    {
        "id": "94204058074f2134",
        "type": "http response",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "HTTP Response on Error",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "717ec79f238636a8",
        "type": "function",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Rooms query",
        "func": "msg.topic=\"SELECT * FROM sensors;\"\n\n//msg.topic=`DELETE FROM sensors where sensor_id=\"postman-1\";`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "0c900ab0327e2dee"
            ]
        ]
    },
    {
        "id": "d6826ebc99181372",
        "type": "inject",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "717ec79f238636a8"
            ]
        ]
    },
    {
        "id": "0c900ab0327e2dee",
        "type": "mysql",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "7bc472545809e322"
            ]
        ]
    },
    {
        "id": "f40b9c614b45b718",
        "type": "comment",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Debug select for all rooms in DB",
        "info": "",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "7bc472545809e322",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Print rooms",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "d5f993d33f4508a3",
        "type": "comment",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Get data from sensor and insert into InfluxDB",
        "info": "",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "d2d9175cc521443a",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Data from sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "d84deab32d24b48f",
        "type": "change",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Save sensor data  to flow",
        "rules": [
            {
                "t": "set",
                "p": "sensor_data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 300,
        "wires": [
            [
                "78936ed5134682cd"
            ]
        ]
    },
    {
        "id": "c979f22f6171cbe6",
        "type": "function",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "JSON test",
        "func": "\n// Post Request does not containe JSON data, flow stops\nif(typeof(msg.payload) != \"object\" ){\n    msg.statusCode = 415;\n    msg.payload = \"Data are not in JSON format\";\n}\n// Empty JSON, flow stops\nelse if(JSON.stringify(msg.payload) == '{}'){\n    msg.statusCode = 422;\n    msg.payload = \"JSON is empty\";\n}\n\n// JSON does not contain all data, flow stops\nelse if(!(\"sensor_id\" in msg.payload && \"board_type\" in msg.payload && \"sensor_type\" in msg.payload && \"temperature\" in msg.payload && \"pressure\" in msg.payload && \"humidity\" in msg.payload)){\n    msg.statusCode = 422;\n    msg.payload = \"JSON doesn't contain neccesary values.\";\n}\n\n// Everything is fine and we can proceed with rest of the code flow\nelse{\n    msg.statusCode = 200;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "b61e240e36ac6d7e",
                "213a26f8f0e4420a"
            ]
        ]
    },
    {
        "id": "b61e240e36ac6d7e",
        "type": "switch",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "HTTP response switch",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "d84deab32d24b48f",
                "50c8b9014b1bf57c"
            ],
            [
                "94204058074f2134"
            ]
        ]
    },
    {
        "id": "213a26f8f0e4420a",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Response code and msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "50c8b9014b1bf57c",
        "type": "http response",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "HTTP Response OK",
        "statusCode": "",
        "headers": {},
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "87a70204a1945bc1",
        "type": "influxdb out",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "influxdb": "f64d2d329f647e71",
        "name": "",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "swiftblade1982@gmail.com",
        "bucket": "Sensor_data",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "d4ad7e1ca3716e2a",
        "type": "function",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Parse to InfluxDB data format",
        "func": "sensor_data = flow.get(\"sensor_data\");\nroom = msg.payload.room;\n\nif(room != \"Not specified\"){\n    msg.payload = [\n    //Fields - (Measured values from sensor)\n    {\n        temperature: sensor_data.temperature,\n        pressure: sensor_data.pressure,\n        humidity: sensor_data.humidity\n    },\n    \n    //Tags - (Information to distinct one sensor from another)\n    {\n        sensor_id: sensor_data.sensor_id,\n        board_type: sensor_data.board_type,\n        sensor_type: sensor_data.sensor_type,\n        room: room\n    }];\n\n    return msg;\n}\n// If room is not set saves values from sensor without room\nelse {\n     msg.payload = [\n    //Fields - (Measured values from sensor)\n    {\n        temperature: sensor_data.temperature,\n        pressure: sensor_data.pressure,\n        humidity: sensor_data.humidity\n    },\n    \n    //Tags - (Information to distinct one sensor from another)\n    {\n        sensor_id: sensor_data.sensor_id,\n        board_type: sensor_data.board_type,\n        sensor_type: sensor_data.sensor_type\n    }];\n\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 500,
        "wires": [
            [
                "8c679348d041b700",
                "87a70204a1945bc1"
            ]
        ]
    },
    {
        "id": "8c679348d041b700",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Parsed Influxdb",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 440,
        "wires": []
    },
    {
        "id": "a9c50bae42883c2e",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "Room from DB",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "a5224bf7b48d60d3",
        "type": "subflow:c4e5c2ecfe2a7d7c",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "d4ad7e1ca3716e2a",
                "a9c50bae42883c2e"
            ]
        ]
    },
    {
        "id": "11b12c8f2978b551",
        "type": "link in",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "",
        "links": [
            "78936ed5134682cd"
        ],
        "x": 265,
        "y": 500,
        "wires": [
            [
                "a5224bf7b48d60d3"
            ]
        ]
    },
    {
        "id": "78936ed5134682cd",
        "type": "link out",
        "z": "6f295efb41de0f64",
        "g": "c2e3c67e8b32942e",
        "name": "",
        "mode": "link",
        "links": [
            "11b12c8f2978b551"
        ],
        "x": 1095,
        "y": 300,
        "wires": []
    },
    {
        "id": "3cf2ddb2d049a0b3",
        "type": "ui_dropdown",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Choose sensor_id",
        "label": "",
        "tooltip": "",
        "place": "Select a sensor_id",
        "group": "d8aece7e220cdf0e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 650,
        "y": 660,
        "wires": [
            [
                "731f77ad8cf0d41f",
                "ca4618b88a20b939"
            ]
        ]
    },
    {
        "id": "c5dc653808fe5778",
        "type": "subflow:98df4c30829c6402",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "",
        "env": [],
        "x": 410,
        "y": 660,
        "wires": [
            [
                "3cf2ddb2d049a0b3",
                "ca7c81d03b0407bf"
            ]
        ]
    },
    {
        "id": "ca7c81d03b0407bf",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Sensor_ids",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "options",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 620,
        "wires": []
    },
    {
        "id": "e250e872bb569915",
        "type": "ui_ui_control",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Reset web UI",
        "events": "connect",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "c5dc653808fe5778",
                "48b6fabaa1a9d905",
                "d77e5ea1f14ec8e9"
            ]
        ]
    },
    {
        "id": "b6fba50961fa06bb",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Print new room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 940,
        "wires": []
    },
    {
        "id": "6189a271221595d0",
        "type": "ui_text",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "group": "d8aece7e220cdf0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Show current room",
        "label": "Current room of sensor:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 960,
        "wires": []
    },
    {
        "id": "b006d3fef169f565",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Print room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 620,
        "wires": []
    },
    {
        "id": "c66106090c9d5c0f",
        "type": "link in",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "",
        "links": [
            "0704747d1da8393e"
        ],
        "x": 95,
        "y": 960,
        "wires": [
            [
                "924cc8d0bcd319cc",
                "015586d3e5d880f5",
                "8f2cfb5fe7c076fd"
            ]
        ]
    },
    {
        "id": "b206f46388be3911",
        "type": "ui_form",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Update room",
        "label": "",
        "group": "d8aece7e220cdf0e",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Room",
                "value": "room",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "room": ""
        },
        "payload": "",
        "submit": "Save",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 570,
        "y": 900,
        "wires": [
            [
                "b6fba50961fa06bb",
                "fc9bf0a09982f8ed",
                "d79e436c22edc0b5"
            ]
        ]
    },
    {
        "id": "924cc8d0bcd319cc",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Print sensor_id and room",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 840,
        "wires": []
    },
    {
        "id": "a9b14b385aefc2bc",
        "type": "change",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Move sensor_id val to flow",
        "rules": [
            {
                "t": "set",
                "p": "sensor_id",
                "pt": "flow",
                "to": "payload.sensor_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "0704747d1da8393e"
            ]
        ]
    },
    {
        "id": "0704747d1da8393e",
        "type": "link out",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Output room val",
        "mode": "link",
        "links": [
            "c66106090c9d5c0f"
        ],
        "x": 1305,
        "y": 660,
        "wires": []
    },
    {
        "id": "32636855bbd4a4fc",
        "type": "change",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Reset room val",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "None",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 1020,
        "wires": [
            [
                "6189a271221595d0"
            ]
        ]
    },
    {
        "id": "2dcc8a659844b949",
        "type": "link out",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "RESET INPUT",
        "mode": "link",
        "links": [
            "b45cb15dc6960154",
            "e91dde7da391a467"
        ],
        "x": 585,
        "y": 760,
        "wires": []
    },
    {
        "id": "b45cb15dc6960154",
        "type": "link in",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Reset link 2",
        "links": [
            "2dcc8a659844b949"
        ],
        "x": 745,
        "y": 1020,
        "wires": [
            [
                "32636855bbd4a4fc"
            ]
        ]
    },
    {
        "id": "d79e436c22edc0b5",
        "type": "function",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Update room label",
        "func": "msg.payload = msg.payload.room\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 880,
        "wires": [
            [
                "6189a271221595d0",
                "de2fcceb18ec4cbc"
            ]
        ]
    },
    {
        "id": "fc9bf0a09982f8ed",
        "type": "function",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Handle DB room update",
        "func": "\n\nsensor_id = flow.get('sensor_id')\nroom = msg.payload.room\nif (room != \"Room not yet set\" && !room.includes(\"-\")) {\n    \n    msg.payload = {\n        sensor_id: sensor_id,\n        room: room\n    }\n    msg.topic=\"INSERT INTO sensors (`sensor_id`, `room`) VALUES (:sensor_id, :room) ON DUPLICATE KEY UPDATE `sensor_id`=:sensor_id, `room`=:room;\"\n    return msg;\n}\nelse{\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 820,
        "wires": [
            [
                "6fd83a886d66d701"
            ]
        ]
    },
    {
        "id": "6fd83a886d66d701",
        "type": "mysql",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 1070,
        "y": 820,
        "wires": [
            [
                "069131aa5c579c54"
            ]
        ]
    },
    {
        "id": "069131aa5c579c54",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 820,
        "wires": []
    },
    {
        "id": "731f77ad8cf0d41f",
        "type": "subflow:c4e5c2ecfe2a7d7c",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "",
        "x": 840,
        "y": 660,
        "wires": [
            [
                "a9b14b385aefc2bc",
                "b006d3fef169f565"
            ]
        ]
    },
    {
        "id": "570484cba4938cfa",
        "type": "ui_text",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "group": "d8aece7e220cdf0e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Output label",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1330,
        "y": 880,
        "wires": []
    },
    {
        "id": "e91dde7da391a467",
        "type": "link in",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "",
        "links": [
            "2dcc8a659844b949",
            "ac78c5f7cdf22fbe",
            "7f7139102346d13d"
        ],
        "x": 1015,
        "y": 920,
        "wires": [
            [
                "570484cba4938cfa"
            ]
        ]
    },
    {
        "id": "c0e24c660bd8d17b",
        "type": "ui_button",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Reset button",
        "group": "d8aece7e220cdf0e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reload_sensor_ids",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "c5dc653808fe5778",
                "48b6fabaa1a9d905",
                "d77e5ea1f14ec8e9"
            ]
        ]
    },
    {
        "id": "48b6fabaa1a9d905",
        "type": "change",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Update output label",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UI Reset complete",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 760,
        "wires": [
            [
                "2dcc8a659844b949"
            ]
        ]
    },
    {
        "id": "de2fcceb18ec4cbc",
        "type": "change",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Update output label",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Room updated",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 880,
        "wires": [
            [
                "570484cba4938cfa"
            ]
        ]
    },
    {
        "id": "5029c718dea4974a",
        "type": "ui_button",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Unset room button",
        "group": "d8aece7e220cdf0e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unset room from sensor",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "a18f80fb4e64cbae",
                "af537a8542d28da4"
            ]
        ]
    },
    {
        "id": "ca4618b88a20b939",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Print sensor_id",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 620,
        "wires": []
    },
    {
        "id": "015586d3e5d880f5",
        "type": "change",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Send room to update button",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.room",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 960,
        "wires": [
            [
                "b206f46388be3911",
                "70c5237e9e03b433",
                "6189a271221595d0"
            ]
        ]
    },
    {
        "id": "8f2cfb5fe7c076fd",
        "type": "change",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Send sensor_id to unset button",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.sensor_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1080,
        "wires": [
            [
                "5029c718dea4974a"
            ]
        ]
    },
    {
        "id": "70c5237e9e03b433",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Print room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 840,
        "wires": []
    },
    {
        "id": "af537a8542d28da4",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Print Sensor_id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ac8a6418e5e55886",
        "type": "mysql",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "mydb": "77baa11c77157752",
        "name": "",
        "x": 1080,
        "y": 1080,
        "wires": [
            [
                "f4a80e58d3e3d616"
            ]
        ]
    },
    {
        "id": "a18f80fb4e64cbae",
        "type": "function",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Unset room from sensor_id",
        "func": "\nif (msg.topic != null){\n    msg.payload = msg.topic;\n    msg.topic=`DELETE FROM sensors where sensor_id = \"${msg.payload}\";`\n\n    return msg;   \n    \n}\nelse{\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1080,
        "wires": [
            [
                "ac8a6418e5e55886",
                "557ea7be4964987a"
            ]
        ]
    },
    {
        "id": "f4a80e58d3e3d616",
        "type": "debug",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Print Sensor_id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7f7139102346d13d",
        "type": "link out",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "",
        "mode": "link",
        "links": [
            "e91dde7da391a467"
        ],
        "x": 1295,
        "y": 1140,
        "wires": []
    },
    {
        "id": "557ea7be4964987a",
        "type": "function",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Update output label",
        "func": "msg.payload = `Unset room from ID ${msg.payload}`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1140,
        "wires": [
            [
                "7f7139102346d13d"
            ]
        ]
    },
    {
        "id": "1f2a8c9e3402d5b9",
        "type": "link in",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "",
        "links": [
            "afbf1aa292fefd3c"
        ],
        "x": 405,
        "y": 1140,
        "wires": [
            [
                "5029c718dea4974a"
            ]
        ]
    },
    {
        "id": "afbf1aa292fefd3c",
        "type": "link out",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "",
        "mode": "link",
        "links": [
            "1f2a8c9e3402d5b9"
        ],
        "x": 585,
        "y": 720,
        "wires": []
    },
    {
        "id": "d77e5ea1f14ec8e9",
        "type": "function",
        "z": "6f295efb41de0f64",
        "g": "2ea865067ea82e10",
        "name": "Reset values",
        "func": "msg = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 720,
        "wires": [
            [
                "afbf1aa292fefd3c"
            ]
        ]
    },
    {
        "id": "77baa11c77157752",
        "type": "MySQLdatabase",
        "name": "RPI4_MariaDB",
        "host": "mariadb",
        "port": "3306",
        "db": "sensor",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f64d2d329f647e71",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "RPI4 Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "d8aece7e220cdf0e",
        "type": "ui_group",
        "name": "Room",
        "tab": "d1f25c62d446af39",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1f25c62d446af39",
        "type": "ui_tab",
        "name": "Sensor tab",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]